<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7.css" />
		<link rel="stylesheet" type="text/css" href="lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
	<body>

		<div id="app">


			<div class="panel panel-primary" id="">
				<div class="panel-heading">
					<h3 class="panel-title">添加品牌</h3>

				</div>
				<div class="panel-body form-inline" id="">
					<label>
						Id:
						<input type="text" name="" id="" value="" class="form-control" v-model="id" />
					</label>
					<label>
						Name:
						<input type="text" name="" id="" value="" class="form-control" v-model="name" @keyup.enter="add()" />
					</label>
					<input type="button" name="" id="" value="添加" class="btn btn-primary" @click="add()" />

					<label>
						搜索名称关键字：
						<input type="text" class="form-control" name="" id="" value="" v-model="keywords" v-focus v-color="'blue'" />

					</label>
				</div>
			</div>


			<table class="table table-bordered table-hover" border="" cellspacing="" cellpadding="">
				<thead>
					<tr>
						<th>Id</th>
						<th>名字</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<thead>
					<!-- 之前，v-for 中的数据，都是从 data中的list中直接渲染过来的 -->
					<!-- 现在自定义了一个 search方法，同时，把所有关键字，通过传参的形式传递给了
					 search方法-->
					<!-- 再search内部通过执行for循环 把所有符合搜索条件的关键字的数据，保存到一个新数组中，返回-->
					<tr v-for="item in search(keywords)" :key="item.id">
						<td v-text="item.id"></td>
						<td v-text="item.name"></td>
						<!-- 注意：v-text比过滤器的优先级高 -->
						<td>{{item.ctime|dataFormat()}}</td>
						<td><a href="" @click="del(item.id)">删除</a></td>
					</tr>
				</thead>
			</table>


		</div>

		<div id="app2">
			<h2 v-color="'pink'" v-fontweight="900" v-fontsize="'30px'">{{ time |dataFormat()}}</h2>
		</div>

		<script type="text/javascript">
			/* 定义一个全局的时间格式过滤器 */
			Vue.filter('dataFormat', function(datastr, patten = "") {
				/* 根据给定你的时间字符串，得到特定的时间 */
				var dt = new Date(datastr)

				var y = dt.getFullYear()
				var m = dt.getMonth() + 1
				var d = dt.getDate()

				if (patten.toLowerCase() === 'yyy-mm-dd') {
					return `${y}-${m}-${d}`
				} else {
					var hh = dt.getHours()
					var mm = dt.getMinutes()
					var ss = dt.getSeconds()
					return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
				}
			})

			// 自定义全局按键修饰符
			Vue.config.keyCodes.f2 = 113

			// 自定义全局指令 Vue.directive() 自动获取焦点
			//参数一:指令的名称,注意:在定义的时候,指令的名称前面,不需要加 v- 前缀  但是在调用的时候必须加上
			//参数二:是一个对象,这个对象里包含一些函数执行相关操作
			//在每个函数中第一个参数永远都是 el 表示绑定指令的元素,这个 el 是一个原生的js对象(DOM)
			Vue.directive('focus', {
				//每当指令绑定到元素上的时候就执行这个方法,只执行一次
				bind: function(el) {
					//在元素 刚绑定指令的时候还没有插入到DOM中,调用focus方法没有作用,元素只有插入DOM中才能获取焦点
					/* el.focus() */
				},
				//表示元素插入到DOM中的时候会执行这个函数,只执行一次
				inserted: function(el) {
					el.focus()
				},
				//当VNode更新的时候会执行这个函数,执行多次
				updated: function(el) {}

			})

			//定义一个全局指令 color 设置字体颜色
			Vue.directive('color', {
				//设置样式的时候不需要关心有没有插入到DOM中所以在bind中就可以将样式进行加载
				bind(el, binding, vnode) {
					// el.style.color='red'
					// console.log(binding.value)

					el.style.color = binding.value
				}
			});
			//总结:样式写在 bind 中 行为写在 inserted 中

			var vm = new Vue({
				el: '#app',
				data: {
					id: '',
					name: '',
					keywords: '',
					list: [{
							id: 1,
							name: '奔驰',
							ctime: new Date()
						},
						{
							id: 2,
							name: '奥迪',
							ctime: new Date()
						}
					]
				},
				methods: {
					add() { //添加的方法
						console.log('ok')
						var car = {
							id: this.id,
							name: this.name,
							ctime: new Date()
						}
						this.list.push(car)
						this.id = this.name = ''
					},
					del(id) {
						//根据ID进行删除
						//分析:1.如果根据ID找到这一项的索引
						//2.如果找到索引直接调用数组的 splice 方法

						/* this.list.some((item, i) => {
							if (item.id == id) {
								this.list.splice(i, 1)
								//在数组中的 some 方法中,如果 return true 就会立即终止这个数组的循环
								return true;
							}
						}) */

						var indexnumber = this.list.findIndex(item => {
							if (item.id == id) {
								return true
							}
						})
						this.list.splice(indexnumber, 1)
						console.log(indexnumber)
					},
					search(keywords) { //根据关键字进行搜索

						//方法一
						/* var newList = []
						this.list.forEach(item => {
							if (item.name.indexOf(keywords) != -1) {
								newList.push(item)
							}
						})
						return newList */

						//方法二
						/* 有一个新的方法 .includes('要包含的字符串')
						 如果包含就返回 true 不包含就返回 false
						 */
						return this.list.filter(item => {
							if (item.name.includes(keywords)) {
								return item
							}
						})
						/* return newList */
					}
				}

			});

			var vm2 = new Vue({
				el: '#app2',
				data: {
					time: new Date()
				},
				methods: {},
				filters: {
					//定义一个私有过滤器 过滤器条件有两个 1.过滤器的名字,处理函数

					dataFormat: function(datastr, partent = "") {
						/* 根据给定你的时间字符串，得到特定的时间 */
						var dt = new Date(datastr)
						/* 需要给字符串添加内容的时候就用 .padStart()方法 */
						var y = dt.getFullYear()
						var m = (dt.getMonth() + 1).toString().padStart(2, '0')
						var d = dt.getDate().toString().padStart(2, '0')

						if (partent.toLowerCase() === 'yyy-mm-dd') {
							return `${y}-${m}-${d}`
						} else {
							var hh = dt.getHours().toString().padStart(2, '0')
							var mm = dt.getMinutes().toString().padStart(2, '0')
							var ss = dt.getSeconds().toString().padStart(2, '0')
							return `${y}-${m}-${d} ${hh}:${mm}:${ss} ~~~~`
						}
					}
				},
				directives: { //自定义私有指令
					'fontweight': { //设置字体粗细
						bind: function(el, binding) {
							el.style.fontWeight = binding.value
						}
					},
					'fontsize': function(el, binding) { //注意:这个function相当于直接写到了 bind 和 update 中
						el.style.fontSize = parseInt(binding.value) + 'px'
					}
				}

			})
		</script>
	</body>
</html>
